.header-container {
  text-align: center;
}

.game-id-container {
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.25rem;
}

.selected-player-container {
  display: flex;
  gap: 0.25rem;
}

.tic-tac-toe-container {
  display: grid;
  width: 200px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  justify-self: center;
  justify-content: center;
  padding-top: 1rem;
}

.button-item {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.current-player-container {
  justify-self: center;
  padding-top: 1rem;
}

.message-container {
  justify-self: center;
  padding-top: 1rem;
}

.button-container {
  display: flex;
  justify-self: center;
  padding-top: 1rem;
  gap: 1rem;
}
