<h3 class="header-container">Good luck</h3>
<div class="game-id-container" [formGroup]="ticTacToeFormGroup">
  Enter Game Id:
  <input type="text" formControlName="gameId">
</div>
<div class="current-player-container">
  <div class="player-x-container" *ngIf="ticTacToeFormGroup.controls.selectedPlayer.value == 'x'">
    You are Player: {{ this.ticTacToeFormGroup.controls.selectedPlayer.value }}
  </div>
  <div class="player-o-container" *ngIf="ticTacToeFormGroup.controls.selectedPlayer.value === 'o'">
    You are Player: {{ this.ticTacToeFormGroup.controls.selectedPlayer.value }}
  </div>
  <div class="spectator-container"
       *ngIf="ticTacToeFormGroup.controls.selectedPlayer.value === 'Spectator'">
    You are a Spectator
  </div>
</div>
<div class="tic-tac-toe-container" [formGroup]="ticTacToeFormGroup">
  <div *ngFor="let formControl of ticTacToeFormGroup.controls.buttonValues.controls; index as i">
    <button class="button-item" [disabled]="formControl.value" (click)="onButtonClick(i)">{{ formControl.value }}</button>
  </div>
</div>
<div class="current-player-container">
  Current Player: {{ this.ticTacToeFormGroup.controls.currentPlayer.value }}
</div>
<div class="message-container">
  Winner: {{ playerWon$ | async}}
</div>
<div class="button-container">
  <button (click)="navigateToHome()">Home</button>
  <button (click)="playAgain()">Play Again</button>
</div>
